// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #07A6A8;
$secondary: #0A4C52;
$accent: #222222;

$accentitems: #5E5E5E;
$accentlight: #C3C1C1;

$bgpage: #121212;

$dark: #0D0D0D;
$dark-page: #121212;

$positive: #07A6A8;
$negative: #056972;
$info: #4fe8eb;
$warning: #053c3f;

.text-bgpage {
  color: $bgpage !important;
}

.bg-bgpage {
  background-color: $bgpage !important;
}

.text-accentitems {
  color: $accentitems !important;
}

.bg-accentitems {
  background-color: $accentitems !important;
}

.text-accentlight {
  color: $accentlight !important;
}

.bg-accentlight {
  background-color: $accentlight !important;
}